/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

body {
  background: url('../img/screen-9.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}